* {
    margin: 0;
    box-sizing: 0;
}

.opened {
    position: inherit;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.clicked#menu {
    padding-bottom: 1rem;
    margin-left: 4.1rem;
}

.closed {
    display: none;
}

.menuClicked, .menuUnclicked {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

#menu img {
    z-index: 15;
    width: 2.2rem;
    height: 2rem;
    filter: invert(100%) sepia(4%) saturate(313%) hue-rotate(43deg) brightness(116%) contrast(100%);
}

#menu ul > li {
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    border-top: white;
    border-bottom: transparent;
    border-style: outset;
    border-width: 2px;
}

#menu ul {
    margin-bottom: 4rem;
    margin-left: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}