@import "~react-image-gallery/styles/css/image-gallery.css";
/* style.css */
* {
  z-index: 1;
  font-family: "Comic Sans MS", Georgia, serif, "Comic Sans", cursive;
}

.menuClicked, .menuUnclicked {
  display: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  bottom: 0;
  height: 100vh;
  background: #3a8db4;
}

#main a {
  color: white;
}

.bg-image {
  background-image: url('./logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 100%;
  min-width: 100%;
}

header {
  background: rgb(58,141,180);
  background: linear-gradient(0deg, rgba(58,141,180,1) 0%, rgba(191,132,215,1) 46%, rgba(235,137,197,1) 66%, rgba(249,182,130,1) 85%);
  border-bottom: 0.5px solid white;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  top: 0;
  position: sticky;
  z-index: 1100;
}

.desktop {
  display: flex;
}

header nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 0;
  padding-top: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Home {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow-y: hidden;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

#nametag {
  flex-grow: 1;
}

header nav ul > li {
  padding-left: 2rem;
}

.Info main {
  flex-direction: row;
  justify-content: flex-start;
  gap: 25%;
  display: flex;
  color: white;
  background-color: rgba(68, 94, 105, 0.36);
}

.Info main #content p {
  justify-content: flex-start;
  text-align: left;
  padding-top: 1rem;
  width: 300%;
  border: none;
}

.Info main #content p a {
  color: white;
}

.Info main #content {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 2rem;
  padding-top: 1rem;
}

.Info main #links {
  display: flex;
  text-align: left;
  flex-direction: column;
  min-width: 50%;
  justify-content: flex-start;
  padding-top: 1rem;
}

.Info main #links * {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Info main #links * * {
  padding-right: 1rem;
  padding-top: 1rem;
  transform: scale(100%);
  max-height: 3.5rem;
  max-width: 3.5rem;
}

.Info main * p {
  font-size: 75%;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

#projects {
  text-align: center;
  margin-top: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
}

#projects * * a {
  color: white;
}

.Projects main {
  background: rgba(249, 182, 130, 0.9);
}

.Project1 main a {
  color: white;
}

ul {
  margin-right: 4rem;
  margin-left: 4rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#embed {
  padding-top: 2rem;
  width:100%;
  max-width:660px;
  overflow:hidden;
  background:transparent;
}

#songLinksList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#musicList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul i {
  color: black;
  font-size: 150%;
  text-decoration: none;
  padding: 10px;
  display: flex;
  font-style: normal;
}

main {
  position: absolute;

  top: 0;
  left: 7.5%;
  margin-top: 15vh;

  width: 85%;
  height: 70%;

  z-index: 2;

  text-align: center;

  backdrop-filter: blur(50px);
  color: white;
  border: 3px solid #f1f1f1;;
}

section {
  margin: 50px 0;
}

h1, h2 {
  text-align: center;
  padding-bottom: 2rem;
}

p, i {
  text-align: center;
  align-items: center;
}

i a {
  text-align:center;
  display:block;
}

@media screen and (max-width: 600px) {
  header {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1100;
    overflow: hidden;
  }

  .desktop {
    display: none;
  }

  .menuClicked, .menuUnclicked{
    display: flex;
    margin-left: 0;
  }

  nav ul, .Info main, #projects ul {
    flex-direction: column;
  }

  .Home #main {
    height: 80%;
  }

  .Home #main * {
    max-height: 30%;
  }

  .Info main {
    border: none;
    background: #3a8db4;
  }

  .Info main #content {
    margin-left: -2rem;
    max-width: 7rem;
  }

  .Info main, #projects ul {
    height: 30vh;
    margin-bottom: 5vh;
  }

  #projects ul li {
    width: 100%;
  }

  main section ul i {
    width: 10rem;
    align-items: center;
    justify-content: center;
  }

  header nav {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  header nav ul > li {
    margin-bottom: 10px;
  }

  .Info main {
    display: flex;
  }

  .image-gallery-wrapper {
    height: 30vh;
    width: 60vw;
  }
  
  .image-gallery-image {
    width: 60vw;
    height: 30vh;
  }
  
  .image-gallery-content {
    width: 60vw;
    height: 30vh;
  }

  .menuClicked + #nametag {
    display: none;
  }

  .menuUnclicked + #nametag {
    width: 20rem;
    align-items: center;
    margin-right: 4rem;
  }

  .menuClicked {
    margin-left: -7rem;
  }

  .Info .image-gallery-wrapper {
    min-width: 50vw;
  }

  .Info .image-gallery-image {
    min-width: 50vw;
  }

  .Info .image-gallery-content {
    min-width: 50vw;
  }

  #resumeHeader {
    margin-top: 15rem;
  }
}

a {
  text-decoration: none;
  color: black;
}

#projectHeader {
  font-size: 250%;
}

main ul {
  padding-left: 6rem;
  padding-right: 6rem;
}

#projects h2 {
  padding: 2rem;
}

img {
  width: 100%;
  height: 100%;
}

#project1 {
  text-align: center;
}

#gitLink {
  padding-top: 2rem;
  font-size: x-large;
  font-weight: bolder;
}
.image-gallery-wrapper {
  display: flex;
  height: 50vh;
  width: 60vw;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: #2b15453d 1px 10px 10px 5px;
  margin-bottom: 8rem;
  z-index: 1;
}

.image-gallery-image {
  width: 60vw;
  height: 50vh;
  z-index: 3;
}

.image-gallery-content {
  width: 60vw;
  height: 50vh;
  z-index: 3;
}

.image-gallery-icon:hover {
  color: white;
}

.image-gallery-icon {
  transition: none;
  z-index: 3;
}

.Info .image-gallery-wrapper {
  width: 30vw;
  margin-left: 0;
  margin-top: 2rem;
}

.Info .image-gallery-image {
  width: 30vw;
}

.Info .image-gallery-content {
  width: 30vw;
}

#resumeHeader {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-items: flex-start;
}

.Project1 main {
  background: rgba(249, 182, 130, 0.9);
}